:root {
    --color-primary: #DC3131; 
    --color-secondary: #FDC435; 
  }
  

.container-curved{
    background-color: var(--color-primary);
    text-align: left;
    color:#fff;
}

.container-curved h1{
    font-size: 30px;
}

.name-container{
    position: relative;
    top: 30px;
    left: 370px;
    font-size: 30px;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
    width: 420px; 

}

.name-container span{
    font-weight: 600;
}

.name-title{
    margin: 15px 0 15px 0;
    font-size: 20px;
    background-color : var(--color-secondary) ;
    color: #1E1E1E;
    font-family: Roboto;
    font-size: 18.387px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 8.172px 24.516px;
    text-align: center;
}

.img-home{
    position: absolute;
    right: 0px;
    top: 100px;

}

.img-home img {
    width: 35vw;
}

.navbar-nav a {
    color:#FFF;
}

.about-paragraphe{
    color: #050505;
    text-align: justify;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.682%
}

.about-container{
    margin:15px
}

.about-label{
    color: var(--color-primary);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.291px;
    text-align: left !important;
}

.about-pourcent{
    color: var(--color-primary);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.927px;
}

.btn-custom {
    background-color: var(--color-secondary) !important;
    border-color: var(--color-secondary) !important;
    padding: 10px;
    color: #000; 
  }
  
  .btn-custom:hover {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    color: #fff !important;
  }

  .title-component
  {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 22.946px;
    font-style: normal;
    font-weight: 700;
    line-height: 127.9%; 
    letter-spacing: 8.154px;
  }

  .title-competences{
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 18.743px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.537px;
    text-align: center;
  }

  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000;
  }
  
  .scroll-to-top.show {
    display: block;
    /* border-radius: 50%; */
    opacity: 0.7;
    border: none;
    background-color: var(--color-primary);
    color: white;
  }

  .footer{
    background-color:var(--color-primary);
    color: #fff;
  }

  .footer-information{
    margin-top: -10vw;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }

  .bg-nav{
    background-color:var(--color-primary) !important;
    color: #fff;
  }

  .containerBgWithText {
    position: relative;
    width: 100%;
    height: 300px;
    /* background-image: url('../../public/images/bg.jpg');
    background-size: cover;
    background-position: center;
    color: white; */
    background-color:  var(--color-primary);
    color: white;


  }
  
  .containerBgWithText .contentWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
  }

  .overlay {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(220, 50, 50, 0.5);  */
  }

  /* Styles par défaut pour les écrans plus larges que 550px */
.name-container {
  display: block;
}
.img-home {
  display: block;
}
.text-center.mobile-show {
  display: none;
}

@media screen and (max-width: 1160px) {
  .name-container {
      display: none;
  }
  .img-home {
      display: none;
  }
  .text-center.mobile-show {
      display: block;
  }
  .containerBgWithText .contentWrapper{
    font-size: 15px;
  }
}

/*******************************/
/******** Portfolio CSS ********/
/*******************************/
.portfolio {
  position: relative;
  padding: 45px 0 15px 0;
}

.portfolio #portfolio-filter {
  padding: 0;
  margin: -15px 0 25px 0;
  list-style: none;
  font-size: 0;
  text-align: center;
}

.portfolio #portfolio-filter li {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background: #EF233C;
  border: 2px solid transparent;
  border-radius: 0;
  box-shadow: inset 0 0 0 50px #EF233C;
  transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
}

.portfolio #portfolio-filter li:hover,
.portfolio #portfolio-filter li.filter-active {
  color: #EF233C;
  background: transparent;
  box-shadow: inset 0 0 0 0 #EF233C;
  border-color: #EF233C;
}

.portfolio .portfolio-item {
  position: relative;
}

.portfolio .portfolio-wrap {
  position: relative;
  width: 100%;
}

.portfolio .portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio-img img {
  position: relative;
  width: 100%; 
  height: 300px; 
  object-fit: cover;
  transform: scale(1.1);
  transition: .5s;
}

.portfolio .portfolio-item:hover img {
  margin-left: 15px;
}

.portfolio .portfolio-text {
  position: relative;
  height: 60px;
  width: calc(100% - 30px);
  margin: -30px 15px 30px 15px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .12);
}

.portfolio .portfolio-text h3 {
  width: calc(100% - 70px);
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 0 15px;
  white-space: nowrap;
  overflow: hidden;
}

.portfolio .portfolio-text a.btn {
  width: 50px;
  height: 50px;
  padding: 0 0 2px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: 100;
}

.portfolio .portfolio-item:hover a.btn {
  color: #EF233C;
  background: transparent;
  box-shadow: inset 0 0 0 0 #EF233C;
  border-color: #EF233C;
}

.section-header h2 {
  margin: 0;
  position: relative;
  font-size: 45px;
  font-weight: 700;
}

.service {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.service .service-item {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 0 0 transparent;
  transition: ease-out 0.5s;
}

.service .service-item:hover {
  box-shadow: inset 800px 0 0 0 #EF233C;
}

.service .service-icon {
  position: relative;
  width: 150px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EF233C;
  background: #ffffff;
}

.service .service-icon svg {
  position: relative;
  font-size: 60px;
  color: #EF233C;
  transition: .3s;
}

.service .service-item:hover svg {
  font-size: 75px;
}

.service .service-text {
  position: relative;
  width: calc(100% - 120px);
  padding: 0 30px;
}

.service .service-text h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  transition: 1s;
}

.service .service-text p {
  margin: 0;
  font-size: 16px;
  transition: 1s;
}

.service .service-item:hover .service-text h3,
.service .service-item:hover .service-text p {
  color: #ffffff;
}

@media (max-width: 575.98px) {
  .service .service-text h3 {
      font-size: 16px;
      margin-bottom: 5px;
  }
  
  .service .service-text p {
      font-size: 14px;
  }
}


.section-header {
  position: relative;
  margin-bottom: 45px;
}

.section-header p {
  display: inline-block;
  margin: 0 30px;
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #ffffff;
}

.section-header p::before {
  position: absolute;
  content: "";
  height: 3px;
  top: 11px;
  right: 0;
  left: -30px;
  background: #EF233C;
  z-index: -1;
}

.section-header p::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 3px;
  top: 11px;
  left: 3px;
  background: #EF233C;
  z-index: 1;
}

.section-header h2 {
  margin: 0;
  position: relative;
  font-size: 45px;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .section-header h2 {
      font-size: 30px;
  }
}

